@font-face {
    font-family: 'b52';
    src: url('fonts/main/B52.ttf') format('ttf');
}

.Partnership {
    text-transform: uppercase;
}

.Main {
    width: 100vw;
    height: 100vh;
    background-image: url('img/main/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.Brand {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
}

.Brand__image {
    height: 35vh;
}

.Brand__text {
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5;
}