html {
    height: 100%;
    font-family: 'Alef', sans-serif;
}

body {
    min-height: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.Link {
    color: inherit;
    text-decoration: none;
}

.Link:hover {
    text-decoration: underline;
}

.Button {
    padding: none;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

.Button:hover {
    text-decoration: underline;
}

.Page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('img/main/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.Page__header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-areas: "menu partnership langs";
    grid-template-columns: 1fr 4fr 1fr;
}

.Page__body {
    flex-grow: 1;
}

.Page__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-areas: "socials maker";
    grid-template-columns: 1fr 1fr;
}

.Page__menu-button {
    grid-area: menu;
    margin-top: 2.5rem;
    margin-left: 4.125rem;
}

.Page__partnership {
    grid-area: partnership;
    margin: 2.5rem 0 0;
}

.Page__langs {
    grid-area: langs;
    margin-top: 2.5rem;
    margin-right: 4.125rem;
}

.Page__socials {
    grid-area: socials;
    margin-left: 4.125rem;
    margin-bottom: 2.5rem;
    display: flex;
    align-items: flex-end;
}

.Page__maker {
    grid-area: maker;
    margin-right: 4.125rem;
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.MenuButton {
    display: flex;
    align-items: center;
}

.MenuButton__text {
    margin-left: 1rem;
    text-transform: uppercase;
}

.Partnership {
    text-align: center;
}

.Partnership__button {
    text-transform: uppercase;
}

.Langs {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    text-align: right;
}

.Langs__lang {
    text-transform: uppercase;
    margin-left: 1rem;
}

.Langs__lang:first-child {
    margin-left: 0;
}

.Langs__lang--active {
    text-decoration: underline;
}

.Brand {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}

.Brand__image {
    height: 35vh;
}

.Brand__text {
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5;
}

.Socials {
    font-size: 0.875rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.Socials__social {
    text-transform: uppercase;
    margin-left: 2rem;
}

.Socials__social:first-child {
    margin-left: 0;
}

.Maker {
    font-size: 0.75rem;
    text-transform: uppercase;
    white-space: nowrap;
}
