html {
    height: 100%;
    font-family: 'Alef', sans-serif;
}

body {
    min-height: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.Page {
    height: 100vh;
    background-image: url('img/main/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;




    display: grid;
    grid-template-areas:
    "menu title langs"
    "body body body"
    "socials footer maker";
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-columns: 1fr 4fr 1fr;
    grid-gap: 10px;
}

.Page__menu {
    grid-area: menu;
    margin-top: 2.5rem;
    margin-left: 4.125rem;
}

.Page__title {
    grid-area: title;
    margin: 2.5rem 0 0;
}

.Page__langs {
    grid-area: langs;
    margin-top: 2.5rem;
    margin-right: 4.125rem;
}

.Page__body {
    grid-area: body;
}

.Page__socials {
    grid-area: socials;
    margin-left: 4.125rem;
    margin-bottom: 2.5rem;
    display: flex;
    align-items: flex-end;
}

.Page__footer {
    grid-area: footer;
}

.Page__maker {
    grid-area: maker;
    margin-right: 4.125rem;
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.Menu {
    padding: 0;
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
}

.Menu__text {
    margin-left: 1rem;
    text-transform: uppercase;
}

.Title {
    font-size: inherit;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}

.Title__link {
    color: inherit;
    text-decoration: none;
}

.Title__link:hover {
    text-decoration: underline;
}

.Langs {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    text-align: right;
}

.Langs__lang {
    text-transform: uppercase;
    margin-left: 1rem;
}

.Langs__lang:first-child {
    margin-left: 0;
}

.Langs__lang--active {
    text-decoration: underline;
}

.Langs__link {
    color: inherit;
    text-decoration: none;
}

.Langs__link:hover {
    text-decoration: underline;
}

.Brand {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.Brand__image {
    height: 35vh;
}

.Socials {
    font-size: 0.875rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.Socials__social {
    text-transform: uppercase;
    margin-left: 2rem;
}

.Socials__social:first-child {
    margin-left: 0;
}

.Socials__link {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
}

.Socials__link:hover {
    text-decoration: underline;
}

.Maker {
    font-size: 0.75rem;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

.Maker:hover {
    text-decoration: underline;
}